# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Runtime data (DO NOT COMMIT)
workspaces/
logs/
outputs/

# Secrets
.env


#the temporary testing folder 
workspaces-test/job-test
workspace-directly/
workspace-runner/
workdir/