services:
  app:
    image: abderrahmane03/pipelinex:java17-mvn3.9-latest
    working_dir: /home/runner/app
    volumes:
      - ./workspaces/${JOB_ID:-.}/app:/home/runner/app:rw
      - ./workspaces/${JOB_ID:-.}/reports:/home/runner/reports:rw
      - ./workspaces/${JOB_ID:-.}/pipelines:/home/runner/pipelines:ro
    command: ["/bin/bash", "${SCRIPT}"]   #inputed by the backend depending on  which script to run that may require a db , test smoke or dast (we willcome back to dast later on)
    expose:
      - "${PORT:-8080}"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: "${DB_IMAGE}" #the user will give us the dockerhub db name he uses  , if it does not work its on him .
    environment:
      SPRING_DATASOURCE_URL: "jdbc:${DB_DRIVER}://db:${DB_PORT}/${DB_NAME}"    #driver also inputed by the user
      POSTGRES_DB: "${DB_NAME}"                 #user input
      POSTGRES_USER: "${DB_USER}"               #user input
      POSTGRES_PASSWORD: "${DB_PASSWORD}"       #user input
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "nc -z ${DB_HOST:-db} ${DB_PORT:-5432} || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 12

    # ports:
    #   - "${DB_PORT}:${DB_PORT}" #USER INPUT 

networks:
  default:
    name: "${DOCKER_NETWORK:-pipelinex-network}"
    internal: true 
